.message {
  padding-bottom: 73px;

  @include mobile() {
    padding-bottom: 60px;
  }
}

.message__wrapper {
  display: flex;
  align-items: center;
  gap: 120px;

  @include media() {
    flex-direction: column;
    gap: 30px;
  }
}

.message_bg {
  width: 600px;
  height: 431px;
  background-image: url(../images/section_bg_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include mobile() {
    width: 335px;
    height: 240px;
  }
}

.message__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.message__content h2 {
  color: var(--Text_White, #212529);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
}

.message__content h3 {
  max-width: 416px;
  color: var(--Text_White, #212529);
  font-family: "Crimson Text";
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;

  @include mobile() {
    font-size: 28px;
  }
}

.message__content p {
  max-width: 416px;
  padding-bottom: 10px;
  color: var(--Color-White-75, rgba(33, 37, 41, 0.50));
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
}
